footer {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 5.875rem 1.75rem;
    width: 100%;
}

footer h6 {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.5rem 0;
}

.company-resume {
    display: flex;
    flex-direction: column;
    padding-right: 3rem;
    width: 35%;
}

.company-resume p {
    color: var(--gray);
    text-align: justify;
    padding: 1rem 0;
}

.company-resume .social-medias {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    width: 50%;
}

.company-resume .copyright {
    font-size: small;
}

.take-a-tour,
.our-company {
    width: 12%;
}

.take-a-tour ul,
.our-company ul {
    display: flex;
    flex-direction: column;
    height: 88%;
    justify-content: space-between;
    padding: 1rem 0;
}

.subscribe {
    width: 25%;
}

.subscribe p {
    color: var(--gray);
    font-size: 0.875rem;
    padding: 1rem 0 2rem 0;
}

.subscribe label {
    border: 2px solid var(--light-gray);
    border-radius: 0.875rem;
    padding: 1rem;
}

.subscribe input {
    width: 80%;
}

/* DESKTOP'S MEDIA QUERIES */
/* Media query for narrow monitors */
@media screen and (max-width: 1320px) {
    .subscribe input {
        width: 60%;
    }
}

@media screen and (max-width: 1024px) {
    .take-a-tour ul,
    .our-company ul {
        height: 60%;
    }
}

/* TABLET MEDIA QUERY */
@media screen and (max-width: 768px) {
    footer {
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1.5rem 1.75rem;
    }

    .company-resume {
        padding-right: 0;
        width: 100%;
    }

    .take-a-tour,
    .our-company,
    .subscribe{
        width: 30%;
    }

    .take-a-tour ul,
    .our-company ul {
        height: 15rem;
    }

    .subscribe label {
        padding: 0.5rem;
    }

    .subscribe input {
        width: 70%;
    }
}

/* MOBILE MEDIA QUERY */
@media screen and (max-width: 425px) {
    .take-a-tour,
    .our-company,
    .subscribe {
        width: 65%;
    }
}