:root {
    --red: #E90808;
    --black-navy: #110229;
    --light-gray: #DCDCEB;
    --gray: #8F90A6;
    --almost-white: #F4F4F4;
}

* {
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    list-style: none;
}

h3 {
    font-size: 2.125rem;
    font-weight: 500;
}

svg {
    color: var(--red);
    height: 0.875rem;
    width: 0.875rem;
}